---
import Link from "@components/ui/link.astro";
---

<main
  class="grid place-items-center pt-16 pb-8 md:pt-12 md:pb-12">
  <div class="text-center">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl lg:tracking-tight xl:tracking-tighter">
      <span class="font-bold text-slate-800">Annie</span><span class="text-slate-500"> Ellenberger</span>
    </h1>
    <h3
      class="text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Fractional CTO & Technology Strategist
    </h3>
    <p class="text-lg mt-4 text-slate-600 max-w-3xl mx-auto">
      Helping small businesses and nonprofits untangle systems and scale with clarity
    </p>
    <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center">
      <Link
        href="#contact"
        size="lg"
        class="flex gap-1 items-center justify-center">
        Let's Talk
      </Link>
      <Link
        size="lg"
        style="outline"
        href="#services"
        class="flex gap-1 items-center justify-center">
        See How I Can Help
      </Link>
    </div> -->
  </div>
</main>